body {
  margin: 0;
}
.mar {
  position: absolute;
  top: 14px;
  left: 22px;
}
.usericon {
  font-size: 30px;
  border: 2px solid black;
  position: absolute;
  top: 10px;
  right: 20px;
  border-radius: 100px;
  color: #4680ff;
  cursor: pointer;
  padding: 2px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.vcc {
  display: none;
}

.munu {
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  background-color: #fffffff1;
  z-index: 100;
}
.lopag {
  height: 30px;
  width: 300px;
}
.popup {
  height: auto;
  width: 300px;
  border-radius: 7px;
  background-color: #ffffffcc;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.marquee {
  color: #505050;
  padding: 10px;
  width: 95%;
  margin-bottom: 15px;
  background-color: #ff0066;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.input {
  height: 40px;
  width: 95%;
  margin: 10px;
  outline: none;
  outline-color: none;
  border: 1px solid #4680ff;
  text-align: center;
  background-color: #00000000;
}
.lable {
  color: #4680ff;
}
n {
  color: red;
}
.lock-box {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.numberlock {
  padding: 8px;
  width: 12px;
  height: 16px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  padding-left: 13px;
  padding-top: 6px;
  padding-bottom: 10px;
}

.n-no_active {
  border: 1px solid rgb(13, 255, 0);
  color: rgb(13, 255, 0);
}
.a-active {
  color: #000000;
  background-color: rgb(13, 255, 0);
}
.topstar {
  width: 50%;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid #4680ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nextbtn {
  height: 20px;
  padding: 10px;
  width: 200px;
  background-color: #4680ff;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.copy{
  color: #ff0066;
  padding: 10px;
  border: 1px dotted #ff0066;
  border-radius: 9px;
}



/* ================================== css mobile ================== */
@media only screen and (max-width: 600px) {
  .topstar {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #4680ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .lock-box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
